<form method="post"
      action="{{ path('event_admin_delete', {'id': event.idEvent}) }}"
      style="display:inline-block;"
      onsubmit="return confirm('Are you sure you want to delete this event?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.idEvent) }}">
    <button class="main-btn danger-btn-outline btn-hover px-4 py-2">Delete</button>
</form>
