{% extends 'admin/baseAdmin.html.twig' %}

{% block section %}
<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title">
                    <h2>Edit Booking</h2>
                </div>
            </div>
            <div class="col-md-6 text-end">
                <a href="{{ path('booking_admin_index') }}" class="main-btn dark-btn-outline btn-hover px-4 py-2">Back to list</a>
                {{ include('admin/booking_admin/delete_formBookingAdmin.html.twig') }}
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-10">
            <div class="card-style mb-30">
                {{ include('admin/booking_admin/formBookingAdmin.html.twig', {
                    form: form,
                    booking: booking,
                    button_label: 'Update'
                }) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
